table{
    width: 70%;
    margin: 50px auto;
    border: 1px solid;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px #f2f7f7;
    
}
th,td{
    font-size: 15px;
    padding: 10px;
    border-bottom: 1px solid #ebe6e6;
}
th{
    text-align: left;
    background-color: #27ae60;
}
span2{
    color: #fff;
    border-radius: 5px;
    margin: 5px;
    background-color: #3498db;
    padding: 5px;
}
span{
    color: #fff;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    background-color: #f7341f;
}